<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display|Roboto+Slab&display=swap" rel="stylesheet">

    <link href="https://myCDN.com/prism@v1.x/themes/prism.css" rel="stylesheet" />

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FX/style.css' %}">
	{% block head %} {% endblock %}    
	<title>{% block title %} PyFin {% endblock %} </title>
  </head>
  <body>
    <nav class = "navbar nav-blue">
    	<a class = "nav-brand" href = "{% url 'homepage' %}"> PyFin </a>
    	<div class = "right-buttons">
        {% if user.is_authenticated %}
          <span class = "nav-button"> Hi, {{ user.username }} </span>
          <a class = "nav-button" href = "/logout/"> Logout </a>
        {% endif %}
        {% if user.is_anonymous %}
          <a class = "nav-button" href = "{% url 'register' %}"> Register </a>  
          <a class = "nav-button" href = "/accounts/login"> Log in </a>
        {% endif %}
      </div>
    </nav>	
    <br><br>
    <div class = "page-container">
      
      <div class = "page-content container">
        {% block content %}


        {% endblock %}
      </div>
      <div class = 'footer'><p class="footer-content">&copy 2020 Her Chyuan Sheng, Jansen.</p></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.1/marked.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $(".blogpost").each(function(){
        var content = $(this).text()
        var markedcontent = marked(content)
        $(this).html(markedcontent)
      })
    })
    </script>
    <script src="https://myCDN.com/prism@v1.x/components/prism-core.min.js"></script>
    <script src="https://myCDN.com/prism@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
  </body>
</html>