.nav-blue{
	background-color: rgba(24, 82, 182, 0.87);
}

.nav-brand{
	font-family: 'Roboto Slab', serif;
	color: #FFE4C4;
	font-size: 250%;
}

a:link {
  text-decoration: none;
}

.nav-brand:hover{
	color: #FFFACD;
}

.nav-button{
	color: #e3e30e;
	font-size:150%;
	font-family: 'Roboto Slab', serif;
	padding:20px 15px;
}

.nav-button:hover{
	color: #ffde7d;
}

.right-buttons{
	float:right;
}

.footer{
	background-color: rgba(24, 82, 182, 0.87);
	width: 100%;
	padding:2%;
}

.footer-content{
	color: #e3e30e;
	font-size:150%;
	font-family: 'Roboto Slab', serif;
	
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;	
}

.page-content{
	flex:1;
}

.homepage-img{
	max-height: 300px;
	border-radius: 10px;
}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
<<<<<<< HEAD
	background-color: #4169E1;;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
	color: #e3e30e;
	font-size:150%;
	font-family: 'Roboto Slab', serif;
	line-height: 300px;
=======
	overflow: hidden;
	width: 100%;
	height: 0;

	color: rgba(24, 82, 182, 0.87);
	font-size:150%;
	font-family: 'Roboto Slab', serif;
	/* line-height: 300px; */
>>>>>>> 4baca380f8f8367cd1cfad24e13f347c33260386
  }
  
  .homeimg :hover .overlay {
	bottom: 0;
	height: 100%;
  }

  .homeimg :hover .home-icon{
	  color: rgba(24, 82, 182, 0.87);
	  transition: .5s ease;
  }

 .home-icon{
	font-size: 144px; 
	color: rgba(72, 74, 77, 0.253);
 } 
 